@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Glegoo&family=Space+Mono&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: lightslategray;
}

.wrap {
}

.header {
    background-color: rgb(0, 0, 0);
    color: white;

    display: flex;
}

.logo-img {
    width: 34px;
    height: 34px;

    border-radius: 75%;

    margin: 20px 20px;
}

h1.panel-text {
    font-size: 40px;

    display: flex;

    justify-content: center;
    align-items: center;
}

h2.user {
    font-size: 28px;

    display: flex;

    justify-content: center;
    align-items: center;

    margin: 5px 10px 0 10px;
}


.clocks{
    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-left: auto;
    margin-right: 40px;
    /* gap: 10px; */
}

.menu-section {
    display: flex;
    justify-content: space-around;
    margin: 20px 0 0;
}

.menu-btn {
    background-color: rgb(0, 0, 0);
    color: white;

    border-radius: 7px;
    border: 0.2rem solid whitesmoke;

    padding: 10px;
    margin: 10px;

    text-decoration: none;
    font-size: 32px;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    max-width: 7em;
}

.plus-btn {
    width:28px;
    height:28px;

    border-radius: 70%;
    border: 1px solid black;

    display: flex;
    position: relative;

    align-items: center; 
    justify-content: center;

    margin: 0 auto;
    bottom: 24px;

    opacity: .9;

    transition: background-color 0.4s ease-in-out 0.1s, color 0.4s ease-in-out 0.1s;
}

.plus-btn:hover {
    background-color: gray;
}


/* ТАБЛИЦА */
.table {
    background-color: #ffffff;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    
    max-width: 50dvw;
    height: 15%;

    margin: auto 7px;
    padding: 2px;
}

caption {
    text-align: start;
    font-size: 18px;
    text-transform: uppercase;

    margin: 10px 0 0 10px;
    
}

tbody .data {
    border: 2px solid rgba(0, 0, 0, 0.135);
    text-align: center;
}

/* ВИДЖЕТЫ */

.calendar {
    position: absolute;
    width: 30%;

    bottom: 60px;
    right: 30px;

    z-index: 10;
}

.calendar-img {
    width: 100%;
    height: 100%;

    border-radius: 10px;
}

